<div ng-controller="ProdCatCtrl" >
    <div class="inset" style="padding-top:15px;'">
        <ol class="breadcrumb" ng-show="mode === 'list' ">
            <li ng-show="breadcrumb.length > 0"><a href="" ng-click="breakCrumbBackClicked()"><span class="glyphicon glyphicon-chevron-left breadcrumback"></span></a></li>
            <li><a href="#/prodcat">Top</a></li>
            <li ng-repeat="row in breadcrumb"><a href="#/prodcat/list/{{row}}">{{row}}</a></li>
        </ol>

        <div class="list-group" ng-show="mode === 'list' ">
            <div  class="list-group-item" ng-repeat="category in categories" >
                <p  style="display: inline;">{{category.Description}}</p>
                <a class="btn btn-default btn-xs pull-right" style="margin-right: 5px; padding: 3px;" href="#/prodcat/list/{{category.CategoryID}}" ng-if="category.size"><span class="glyphicon glyphicon-chevron-right"></span></span>
                <a id="edit" class="btn btn-default btn-xs pull-right" style="margin-right: 5px; padding: 3px;" href="#/prodcat/form/{{category.CategoryID}}"><span class="glyphicon glyphicon-edit"></span></span>
                <a id="add"  class="btn btn-default btn-xs pull-right" style="margin-right: 5px; padding: 3px;" href="#/prodcat/new/{{category.CategoryID}}"><span class="glyphicon glyphicon-plus"></span></a>
                <span class="badge" style="margin-right: 15px">{{category.size}}</span>
            </div>
        </div>

        <div ng-show="mode === 'form' || mode === 'new' ">

            <div class="form-group">
                <label for="CategoryID">CategoryID</label>
                <input type="text" class="form-control" id="CategoryID" ng-model="catEdit.CategoryID" ng-disabled="mode == 'form'">
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <input type="text" class="form-control" id="Description" ng-model="catEdit.Description">
            </div>
            <div class="form-group">
                <label for="mode">Search Via</label>
                <select  class="form-control" ng-model="searchvia" id="mode" ng-options="search for search in searchviaoptions">
                    <option value="">-- Search Via --</option>
                </select>
            </div>
            <div class="form-group" ng-if="searchvia !== 'CategoryID'" ng-show="searchbox !== '-- Search Via --' ">
                <input type="text" class="form-control" id="tips" ng-model="searchbox.searchval">
            </div>
            <div class="row">
                <div class="btn btn-primary col-xs-6" ng-if="mode !== 'new' " ng-click="previewClicked()"><span class="glyphicon glyphicon-folder-open"></span> Preview</div>
                <div class="btn btn-danger col-xs-6" ng-click="deleteClicked()" ng-if="mode === 'form'"><span class="glyphicon glyphicon-floppy-remove"></span> Delete</div>
            </div>
        </div>
        <div class="alert alert-success" role="alert" ng-if="successMsg">{{successMsg}}</div>
        <div class="alert alert-danger" role="alert" ng-if="errorMsg" ng-bind="errorMsg"></div>

    </div>

</div>
