<div ng-controller="ProdPricesCtrl">
    <div class="inset" style="padding-top:20px;">
        <div class="alert alert-success" role="alert" ng-if="successMsg">{{successMsg}}</div>
        <div class="alert alert-danger" role="alert" ng-if="errorMsg" ng-bind="errorMsg"></div>
        <div class="alert alert-warning" role="alert" ng-if="warningMsg"><span class="fa fa-info-circle"></span> {{warningMsg}}</div>

        <div id="list" ng-show="mode==='Pricelists list'">
           <!-- List results -->
           <ul class="list-group" style="margin-top: 10px" >
              <a id="plist" href="#/prices/{{row.ID}}" ng-repeat="row in Pricelists track by $index" class="list-group-item">
              	  <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                  <div class="row" >
                      <div class="col-xs-3">{{row.ID}}</div>
                      <div class="col-xs-8">{{row.Name}}</div>
                  </div>
              </a>
           </ul>
        </div>
        <div  id="list" ng-show="mode==='Prices Pricelist'">
          <div class="input-group">
          </div>
        	<form ng-submit="addRow()">
        		<div class="row info" style="padding-top:5px;padding-bottom:5px;">
        			<div class="col-xs-3">
        				<input id="newProduct" type="text" name="id" ng-change="fetchProductPossibleValues()" ng-model-options="{debounce : 200}" class="form-control" data-min-length="0" ng-model="searchString" data-animation="am-flip-x" bs-options="row as row.Label for row in typeAheadValues" typeahead-loading="loadingLocations" class="form-control" placeholder="Search for products to add" bs-typeahead>
		    			<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        			</div>
	              	<div class="col-xs-5">&nbsp;</div>
	              	<div class="col-xs-3">
	              		<div class="input-group">
 							<span class="input-group-addon">R</span>
	              			<input id="newPrice" type="number" ng-model="newPrice.Gross" style="text-align: right" placeholder="New price"  class="form-control"/>
	              		</div>
	              	</div>
	              	<div class="col-xs-1"><button id="addPrice" type="submit" ng-click="addRow()" class="btn btn-success"><span class="fa fa-plus" style="font-size:20px;"></span></button></div>
           		</div>
           	</form>
	        <form role="form" style="padding-top: 10px; padding-bottom: 10px;" class="ng-pristine ng-valid">
			    <div class="input-group">
			        <input id="searchbox" ng-model="searchText" type="text" class="form-control ng-pristine ng-valid" placeholder="Search to limit the list of products below">
			        <span class="input-group-btn"><button ng-click="fetchPrices()" class="btn btn-success" type="submit">Search</button></span>
			    </div>
			</form>
			<div ng-repeat="row in prices" ng-class="row.changed ? 'row warning': row.Deleted ? 'row danger':'row'" style="padding:2px;">
				<div class="col-xs-3">{{row.ProductID}}</div>
				<div class="col-xs-5">{{row.Description}}</div>
				<div class="col-xs-3">
					<div class="input-group">
 						<span class="input-group-addon">R</span>
						<input class="form-control" type="number" ng-change="rowChange($index)" ng-model="row.Gross" style="text-align: right" placeholder="Enter a Price"/>
					</div>
				</div>
				<div class="col-xs-1"><a ng-click="deleteRow($index)" class="btn btn-danger"><span ng-class="row.Deleted ? 'fa fa-undo' : 'fa fa-trash'" style="font-size:15px;"></span></a></div>
			</div>
			<!--
        	<table class="table  table-striped">
            	<tr><th>ProductID</td><th>Description</th><th>Price</th></tr>
                <tr class="info" >

                </tr>
                <tr ng-repeat="row in prices" ng-class="row.changed ? 'warning': row.Deleted ? 'danger':''" >
	                <td><span>{{row.ProductID}}</span></td>
	                <td><span>{{row.Description}}</span></td>
	                <td><input class="form-control" type="number" ng-change="rowChange($index)" ng-model="row.Gross" style="text-align: right" placeholder="New price"/></td>
	                <td><a ng-click="deleteRow($index)" class="btn btn-danger"><span ng-class="row.Deleted ? 'fa fa-undo' : 'fa fa-trash'" style="font-size:20px;"></span></a></td>
                </tr>
             </table>
              -->
            <button ng-if="prices.length > 0" title="Download pricelist csv file" type="button" class="file-exchange" csv-header="getcsvHeader()" ng-csv="getCsvData()" filename="Pricelist {{pricelist}}.csv"><span class="fa fa-file-excel-o" aria-hidden="true"></span></button>
        </div>
    </div>
 </div>
