<div ng-controller="PromoCtrl">
    <div class="inset" style="padding-top:20px;">
        <div ng-show=" mode === 'list' ">
            <a href="#/promo/form/{{promo.TPMID}}" class="list-group-item" ng-repeat="promo in promos" >
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                <div class="row">
                    <div class="col-xs-3">{{promo.TPMID}}</div>
                    <div class="col-xs-8">{{promo.Description}}</div>
                </div>
            </a>
        </div>


        <div ng-show="mode === 'form'">
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="activetab == 'header' || activetab == undefined ? 'active' : '' " ng-click="activetab = 'header'"><a aria-controls="home" role="tab" data-toggle="tab" >Header</a></li>
                    <li role="presentation" ng-class="activetab == 'details' ? 'active' : '' " ng-click="activetab = 'details'"><a aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
                    <li role="presentation" ng-class="activetab == 'AccountCondition' ? 'active' : '' " ng-click="activetab = 'AccountCondition'"><a aria-controls="AccountCondition" role="tab" data-toggle="tab">Account Condition</a></li>
                    <li role="presentation" ng-class="activetab == 'ProductCondition' ? 'active' : '' " ng-click="activetab = 'ProductCondition'"><a aria-controls="profile" role="tab" data-toggle="tab">Product Condition</a></li>
                    <li role="presentation" ng-class="activetab == 'values' ? 'active' : '' " ng-click="activetab = 'values'" ng-show="promoEdit.json.type === 'free'"><a aria-controls="values" role="tab" data-toggle="tab">Free Items</a></li>
                </ul>

                <div class="tab-content inset">
                    <!-- Tab 1 Header -->
                    <div role="tabpanel" class="tab-pane" id="header" ng-class="activetab == 'header' || activetab == undefined ? 'active' : '' ">
                        <!-- TODO Change the ng-models-->
                        <div class="form-group">
                            <label for="promoID">Promotion ID</label>
                            <input ng-disabled="id!=='new'" type="text" class="form-control" id="promoID" ng-model="promoEdit.TPMID" placeholder="eg. ZZZ123">
                        </div>

                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input type="text" class="form-control" id="Description" ng-model="promoEdit.Description" placeholder="eg. Buy 10 X get Y free">
                        </div>

                        <div class="form-group">
                            <label for="startDate">Start Date</label>
                            <input type="text" class="form-control" id="startDate" ng-model="promoEdit.FromDate" bs-datepicker data-date-format="yyyy-MM-dd">
                        </div>

                        <div class="form-group">
                            <label for="endDate">End Date</label>
                            <input type="text" class="form-control" id="endDate" ng-model="promoEdit.ToDate" bs-datepicker data-date-format="yyyy-MM-dd">
                        </div>

                        <div class="form-group">
                            <label for="Priority">Priority</label>
                            <select  class="form-control" ng-model="promoEdit.json.priority" id="mode" ng-options="row.id as row.label for row in promoFields.priorities">
                                <option value="">-- choose a priority --</option>
                            </select>
                        </div>


                    </div>

                    <!-- Tab 2 Details -->
                    <div role="tabpanel" class="tab-pane" id="details" ng-class="activetab === 'details' ? 'active' : '' ">
                        <!-- TODO Change the ng-models-->
                        <div class="form-group">
                            <label for="mode">Type</label>
                            <select ng-disabled="id!=='new'"  class="form-control" ng-model="promoEdit.json.type" id="pmode" ng-options="type.id as type.label for type in promoFields.types">
                                <option value="">-- choose a mode --</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="BuyQty">Buy Quantity</label>
                            <input type="number" class="form-control" id="BuyQty" ng-model="promoEdit.json.BuyQty" placeholder="What quantity needs to be purchased for this promo">
                        </div>
                        <div class="form-group" ng-if="promoEdit.json.type === 'free'">
                            <label for="FreeQty" >Free Quantity</label>
                            <input type="number" class="form-control" id="FreeQty" ng-model="promoEdit.json.FreeQty" placeholder="What is quantity will be given for free">
                        </div>
                        <div class="form-group" ng-if="promoEdit.json.type === 'discount'">
                            <label for="Discount" >Discount Percentage</label>
                            <input type="number" class="form-control" id="Discount" ng-model="promoEdit.json.Discount" placeholder="What is discount offered on this promo">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="promoEdit.Rebate" ng-model="promoEdit.Rebate"> Attracts a Rebate
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="promoEdit.json.mandatory" ng-model="promoEdit.json.mandatory"> Mandatory
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input id="noOtherDiscounts" type="checkbox" ng-checked="promoEdit.json.noOtherDiscounts" ng-model="promoEdit.json.noOtherDiscounts"> No other deals or discounts allowed on products purchased to make up this promo
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input id="notAllowedWithDeal" type="checkbox" ng-checked="promoEdit.json.notAllowedWithDeal" ng-model="promoEdit.json.notAllowedWithDeal"> Must not be offered if a deal/discount is already in place
                            </label>
                        </div>
                    </div>

                    <!-- Tab 3 Account Condition -->
                    <div role="tabpanel" class="tab-pane" id="AccountCondition" ng-class="activetab === 'AccountCondition' ? 'active' : '' ">
                        <div class="alert alert-info" role="alert"><span class="fa fa-info"></span> Use this screen to decide which customers will get this promotion.</div>
                        <div class="form-group">
                            <label for="mode">Customer Attribute</label>
                            <select  class="form-control" ng-model="promoEdit.json.accountConditions[0].ObjectProperty" id="objpropAC" ng-options="objpropAC for objpropAC in promoFields.ObjectPropertyAC">
                                <option value="">-- choose an attribute --</option>
                            </select>
                        </div>

                        <!-- This is for when selecting particular accounts or account groups -->
                        <div class="panel panel-default" ng-if="promoEdit.json.accountConditions[0].ObjectProperty && promoEdit.json.accountConditions[0].ObjectProperty !== 'All'">
                            <div class="panel-heading">Promo will be for the following {{promoEdit.json.accountConditions[0].ObjectProperty}}'s  </div>
                            <div class="panel-body" style="background-color:#E7E7E7;">
                                <button type="button" class="btn btn-primary" ng-click="searchClicked(promoEdit.json.accountConditions[0].ObjectProperty, 'accountConditions','Values')"><span class="fa fa-plus"></span> {{promoEdit.json.accountConditions[0].ObjectProperty}}</button>
                                <ul class="list-group">
                                    <div ng-repeat="item in promoEdit.json.accountConditions[0].Values" class="list-group-item">
					            		<span class="fa fa-trash pull-right" ng-click="removeRow($index, promoEdit.json.accountConditions[0].Values)"></span>
						            	<div class="row">
						            		<div class="col-xs-3">{{item.ID}}</div>
						            		<div class="col-xs-8">{{item.Label}}</div>
						            	</div>
					            	</div>
                                </ul>
                                <div ng-if="!promoEdit.json.accountConditions[0].Values" class="alert alert-warning" role="alert">Currently, no customers will get this promotion. Use search to add customers via their {{promoEdit.json.accountConditions[0].ObjectProperty}}  </div>
                            </div>
                        </div>

                        <!-- This is for exclusions -->
                        <div class="panel panel-default" ng-if="promoEdit.json.accountConditions[0].ObjectProperty && promoEdit.json.accountConditions[0].ObjectProperty === 'All'">
                            <div class="panel-heading">Excluded from this promotion</div>
                            <div class="panel-body" style="background-color:#E7E7E7;">
                        		<div class="alert alert-info" role="alert" ng-if="!promoEdit.json.accountConditions[0].Exclusions"><span class="fa fa-info"></span> Use this screen to exclude particular customers or groups of customers.</div>
                            	<div class="btn-group" role="group" aria-label="...">
									<button type="button" class="btn btn-primary" ng-click="searchClicked('AccountID', 'accountConditions','Exclusions')"><span class="fa fa-plus"></span> Account</button>
									<button type="button" class="btn btn-primary" ng-click="searchClicked('AccountGroup', 'accountConditions','Exclusions')"><span class="fa fa-plus"></span> Group </button>
								</div>
                                <div class="list-group">
					            	<div ng-repeat="item in promoEdit.json.accountConditions[0].Exclusions" class="list-group-item">
					            		<span class="fa fa-trash pull-right" ng-click="removeRow($index, promoEdit.json.accountConditions[0].Exclusions)"></span>
						            	<div class="row">
						            		<div class="col-xs-3">{{item.ID}}</div>
						            		<div class="col-xs-8">{{item.Label}}</div>
						            	</div>
					            	</div>
					            </div>
                            </div>
                     	</div>
                    </div>


                    <!-- Tab 4 Product Condition -->
                    <div role="tabpanel" class="tab-pane" id="ProductCondition" ng-class="activetab === 'ProductCondition' ? 'active' : '' ">
                      <div class="alert alert-info" role="alert"><span class="fa fa-info"></span> Use this screen to see which products need to be purchased to get this promotion.</div>
                      <div class="form-group">
                          <label for="mode">Product Attribute</label>
                          <select  class="form-control" ng-model="promoEdit.json.productConditions[0].ObjectProperty" id="objpropPC" ng-options="objpropPC for objpropPC in promoFields.ObjectPropertyPC">
                              <option value="">-- choose a mode --</option>
                          </select>
                      </div>
                      <div class="panel panel-default" ng-if="promoEdit.json.productConditions[0].ObjectProperty">
                        <div class="panel-heading">Promo will be applied when the following {{promoEdit.json.productConditions[0].ObjectProperty}}'s are purchased</div>
                        <div class="panel-body" style="background-color:#E7E7E7;">
                        <button id="prodSearch" type="button" class="btn btn-primary" ng-click="searchClicked(promoEdit.json.productConditions[0].ObjectProperty, 'productConditions', 'Buy')"><span class="fa fa-plus"></span> {{promoEdit.json.productConditions[0].ObjectProperty}}</button>
                          <div class="list-group">
  					            	  <div ng-repeat="item in promoEdit.json.productConditions[0].Buy" class="list-group-item">
  					            		  <span class="fa fa-trash pull-right" ng-click="removeRow($index, promoEdit.json.productConditions[0].Buy)"></span>
  						            	  <div class="row">
  						            		  <div class="col-xs-3">{{item.ID}}</div>
  						            		  <div class="col-xs-8">{{item.Label}}</div>
  						            	  </div>
  					            	  </div>
  					              </div>
                          <div ng-if="!promoEdit.json.productConditions[0].Buy" class="alert alert-warning" role="alert">Currently, no products in this promotion. Use search to add products to this promo via their {{promoEdit.json.accountConditions[0].ObjectProperty}}  </div>
                        </div>
                      </div>
                    </div>
                    <!-- Tab 5 Free Products -->
                    <div role="tabpanel" class="tab-pane" id="Values" ng-class="activetab === 'values' ? 'active' : '' ">
                    	<div class="alert alert-info" role="alert"><span class="fa fa-info"></span> Use this screen to assign the choice of products available for free on this promo. The user will be given a chance to choose from the products you select below.</div>
                    	<div class="panel-body" style="background-color:#E7E7E7;">
	                       <button id="freeProdBtn" type="button" class="btn btn-primary" ng-click="searchClicked('ProductID', 'productConditions', 'Free')"><span class="fa fa-plus"></span> Products</button>
                         <div class="list-group">
				            	        <div ng-repeat="item in promoEdit.json.productConditions[0].Free" class="list-group-item">
    			            		      <span class="fa fa-trash pull-right" ng-click="removeRow($index, promoEdit.json.productConditions[0].Free)"></span>
    				            	      <div class="row">
    				            		      <div class="col-xs-3">{{item.ID}}</div>
    				            		      <div class="col-xs-8">{{item.Label}}</div>
    				            	      </div>
				            	        </div>
				                  </div>
                          <div ng-if="!promoEdit.json.productConditions[0].Free" class="alert alert-warning" role="alert">Currently, no products are being offered for free in this promotion. Use search to add products to this promo via their {{promoEdit.json.accountConditions[0].ObjectProperty}}  </div>
                      </div>
                    </div>
                </div>
            </div>
            <button type="button" ng-hide="id === 'new'" ng-click="deletePromo()" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-floppy-remove"></span> Delete</button>
        </div>
    </div>
</div>
