<div ng-controller="MenuCtrl">
    <accordion ng-if="menuStyle==='Accordian'" close-others="oneAtATime" >
        <accordion-group ng-click="groupClicked()" ng-repeat="group in mainmenu" is-open="group.open">
            <accordion-heading>
                {{group.Description}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.open, 'glyphicon-chevron-right': !group.open}"></i>
            </accordion-heading>
            <div ng-repeat="child in group.children">
                <a ng-click="itemClicked(child)" href="{{child.Tips}}">{{child.Description}}</a>
            </div>
        </accordion-group>
    </accordion>
    <div ng-if="menuStyle==='List'" >
        <!--<p>hello</p>-->
        <ul class="nav navbar-nav side-nav menu">
            <li ng-repeat="child in mainmenu">
                <a ng-click="itemClicked(child); $hide()" href="{{child.Tips ? child.Tips : child.tips}}"><span class="{{child.img}} menu-text" style="margin-right:5px;"></span>{{child.Description}}</a>
            </li>

            <li ng-if="Settings.hasDefaultMenus && !noUser" ng-repeat="menu in Settings.defaultMenus">
                <a href="{{menu.url}}" ng-if="menu.checkField" ng-show="Settings[menu.checkField]" ng-click="$hide()"><i class="{{menu.icon}}" style="margin-right:5px;"></i>{{menu.label}}</a>
                <a href="{{menu.url}}" ng-if="!menu.checkField && !menu.checkRole" ng-click="$hide()"><i class="{{menu.icon}}" style="margin-right:5px;"></i>{{menu.label}}</a>
                <a href="{{menu.url}}" ng-if="menu.checkRole" ng-show="checkUserRole(menu.checkRole)" ng-click="$hide()"><i class="{{menu.icon}}" style="margin-right:5px;"></i>{{menu.label}}</a>
            </li>

            <li ng-if="!noUser"><a href="#/" ng-click="$hide()"><i class="fa fa-home fa-fw" style="margin-right:5px;"></i>Home</a></li>
            <li ng-if="!noUser"><a href="#/profile" ng-click="$hide()"><i class="fa fa-user fa-fw" style="margin-right:5px;"></i>My Profile</a></li>
            <li ng-if="!noUser"><a href="#/sync" ng-click="$hide()"><i class="fa fa-exchange" style="margin-right:5px;"></i>Synchronize</a></li>
            <li ng-if="isAdmin"><a href="#/admin" ng-click="$hide()"><i class="fa fa-wrench fa-fw" style="margin-right:5px;"></i>Admin</a></li>
            <li ng-if="!noUser"><a href="#/reports" ng-click="$hide()"><i class="fa  fa-file-text" style="margin-right:5px;"></i>Reports</a></li>
            <li ng-if="!noUser"><a href="#/logout" ng-click="$hide()"><i class="fa fa-times-circle-o fa-fw" style="margin-right:5px;"></i>Logout</a></li>
        </ul>
        <div ng-if="showVersion" id="appVersion"><span>{{versionNumber}}</span> <span ng-if="osversion" style="margin-left : 150px">OS Version : {{osversion}}</span></div>
    </div>

</div>
