<div ng-controller="TestCtrl">
    <div class="well center-block row" style='max-width: 600px;'>
        <div class="col-md-6" ng-if="!message"><bold>This will delete all TDD data except the supplier and user records</bold></div>

        <div class="col-md-6" ng-if="!message">
            <div class="btn-group">
                <button id="resetBtn" ng-click="reset()" type="button" class="btn btn-danger">Yes, reset TDD environment</button>
                <button ng-click="back()"type="button" class="btn btn-primary">No</button>
            </div>
        </div>
        <div id="successmsg" class="alert alert-success" ng-if="message">
          <strong>Success!</strong> TDD company has been reset.
        </div>
    </div>
</div>
