<div  ng-controller="WelcomeCtrl" ng-show="loggedIn" style="background:; 
                                                            height: 100vh;
                                                            -webkit-background-size: cover;
                                                            -moz-background-size: cover;
                                                            -o-background-size: cover;
                                                            background-size: cover;">
    <div style="padding-top: 50px">
        <div>
            <div style="text-align:center; padding: 30px">
                <a href='#/SgUsers' class="btn btn-default btn-lg" style="width:80%;padding: 30px; font-size:30px; font-family: Impact">User Management</a><br><br>
                <a href='#/Clients' class="btn btn-default btn-lg" style="width:80%; padding: 30px; font-size:30px; font-family: Impact">Client Management</a><br><br>
                <a href='#/Suppliers' class="btn btn-default btn-lg" style="width:80%; padding: 30px; font-size:30px; font-family: Impact">Supplier Management</a>
            </div>
        </div>
    </div>           
<!--     <div ng-include="'views/welcome.html'"></div>
 -->
    <script type="text/ng-template" id="syncingModal.html">
        <div class="modal-body">
            <h4>Synchronising...</h4>
            <div ng-hide="message === undefined" class="alert alert-success infopanel">{{message}}</div>
            <div ng-hide="errormessage === undefined" class="alert alert-danger infopanel">{{errormessage}}</div>

            <div ng-hide="syncProgress.length===0" id="resultsdiv" class="alert alert-success" style="margin-top:20px;">
                <table>
                    <tr ng-repeat="item in syncProgress">
                        <td>{{item.substr(0,80)}}</td>
                    </tr>
                </table>
            </div> 

        </div>
    </script>
    
    
</div>