<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title">Change current password</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="currentpassword">Current Password</label>
                    <input type="password" class="form-control" id="currentpassword" placeholder="Enter your current password" ng-model="passwordObj.currentpassword">
                  </div>
                  <div class="form-group">
                    <label for="newpassword">New Password</label>
                    <input type="password" class="form-control" id="newpassword" placeholder="Enter a new password"  ng-model="passwordObj.newpassword">
                  </div>
                  <div class="form-group">
                    <label for="repeatpassword">Repeat Password</label>
                    <input type="password" class="form-control" id="repeatpassword" placeholder="Repeat your new password"  ng-model="passwordObj.repeatpassword">
                  </div>
                </form>  
                <div class="alert alert-success" role="alert" ng-if="successMsg">{{successMsg}}</div>
                <div class="alert alert-danger" role="alert" ng-if="errorMsg">{{errorMsg}}</div>
                
            </div> 
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="$hide()">Close</button> 
                    <button type="button" class="btn btn-primary" ng-click="saveClicked()">{{saveLabel}}</button>
                </div>
            </div>
        </div>
    </div>
</div>    