<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #F9FAFC">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Enter a message below </h4>
            </div>

            <div class="inset">
                <textarea class="form-control" ng-model="message.Message"></textarea>
            </div>

            <div class="modal-footer" style="background-color: #F9FAFC">
                <button type="button" class="btn btn-default" ng-click="$hide()"><span class="fa fa-close"></span> Cancel</button>
                <button type="button" class="btn btn-success" ng-click="saveMessage()" ng-disabled="message.Message.length < 1"><span class="fa fa-save"></span> Save</button>
            </div>
        </div>

    </div>
</div>