<div class="modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title">Search for {{currentAttribute}}</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="fetchPossibleValues(form.newSearchText, currentAttribute)" name="addForm" role="form">
                 	<div class="input-group">
                  	<input id="search" type="text" class="form-control" ng-model="form.newSearchText" placeholder="Search for an {{currentAttribute}}">
                     <span class="input-group-btn">
                     	<button  id="searchbtn" class="btn btn-primary" type="submit">Search</button>
                     </span>
                 	</div>
                </form>
            </div>

            <div class="list-group">
            	<div ng-repeat="item in searchResults" ng-class="item.chosen ? 'list-group-item warning':'list-group-item'">
	            	<div class="row">
	            		<a ng-click="rowClicked($index)">
		            		<div class="col-xs-3">{{item.ID}}</div>
		            		<div class="col-xs-8">{{item.Label}}</div>
	            		</a>
	            	</div>
            	</div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
