<div class="inset"  style="padding-top: 15px; padding-bottom: 50px;" ng-controller='AfterServiceReportCtrl'>
<div style="margin-top: 10px;">
    	<table class="table">
			<thead>
				<tr>
			    	<th>Task</th>
					<th>Answer</th>
					<th>Completed Date</th>
					<th>Completed By</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>After Service Inspection</td>
					<td>{{Report.JSON.Customer}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
		    	</tr>
			    <tr>
					<td>Service Provider</td>
					<td>{{Report.JSON.serviceProvider}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
				<tr>
					<td>Kilometers</td>
					<td>{{Report.JSON.kilometer}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr>
					<td>Kilometers (image)</td>
					<td><div class=""><img id="odometer-img" class="center-img img-responsive"  align="middle" ng-src="{{image}}"></div></td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr>
					<td>Date of Service</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr>
					<td>Radiator condition checked</td>
					<td>{{Report.JSON.radiatorConditionChecked}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr ng-if="Report.JSON.radiatorConditionCheckedComment">
					<td>Remarks</td>
					<td>{{Report.JSON.radiatorConditionCheckedComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr>
					<td>Engine oil levels checked</td>
					<td>{{Report.JSON.engineOilLevelsChecked}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr>
			    <tr ng-if="Report.JSON.engineOilLevelsCheckedComment">
					<td>Remarks</td>
					<td>{{Report.JSON.engineOilLevelsCheckedComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
					<td>Oil filters checked</td>
					<td>{{Report.JSON.oilFiltersChecked}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			   <tr ng-if="Report.JSON.oilFiltersCheckedComment">
					<td>Remarks</td>
					<td>{{Report.JSON.oilFiltersCheckedComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr>
					<td>Oil leaks</td>
					<td>{{Report.JSON.oilLeaks}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			  	<tr ng-if="Report.JSON.oilLeaksComment">
					<td>Remarks</td>
					<td>{{Report.JSON.oilLeaksComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr>
					<td>Air cleaner serviced as per WIM pro</td>
					<td>{{Report.JSON.airCleanerServiced}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr ng-if="Report.JSON.airCleanerServicedComment">
					<td>Remarks</td>
					<td>{{Report.JSON.airCleanerServicedComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr>
					<td>Fuel filter checked</td>
					<td>{{Report.JSON.FuelFilterChecked}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr ng-if="Report.JSON.FuelFilterCheckedComment">
					<td>Remarks</td>
					<td>{{Report.JSON.FuelFilterCheckedComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr>
					<td>Gearbox breather serviced</td>
					<td>{{Report.JSON.gearBoxBreatherServiced}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr ng-if="Report.JSON.gearBoxBreatherServicedComment">
					<td>Remarks</td>
					<td>{{Report.JSON.gearBoxBreatherServicedComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr>
					<td>Diff breather serviced</td>
					<td>{{Report.JSON.diffBreatherServiced}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr ng-if="Report.JSON.diffBreatherServicedComment">
					<td>Remarks</td>
					<td>{{Report.JSON.diffBreatherServicedComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr>
					<td>Diff and rear axles washed after service</td>
					<td>{{Report.JSON.diffAndRearAxleWashed}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr ng-if="Report.JSON.diffAndRearAxleWashedComment">
					<td>Remarks</td>
					<td>{{Report.JSON.diffAndRearAxleWashedComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr>
					<td>Diff(s) oil level checked</td>
					<td>{{Report.JSON.diffsOilLevelChecked}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			   <tr ng-if="Report.JSON.diffsOilLevelCheckedComment">
					<td>Remarks</td>
					<td>{{Report.JSON.diffsOilLevelCheckedComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr>
					<td>5th wheel cleaned and lubricated as per  WIM  pro</td>
					<td>{{Report.JSON.fithWheelCleaned}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr ng-if="Report.JSON.fithWheelCleanedComment">
					<td>Remarks</td>
					<td>{{Report.JSON.fithWheelCleanedComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr>
					<td>Hardened C insert and king pin lockjaw measured for wear</td>
					<td>{{Report.JSON.hardenedCInsert}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr ng-if="Report.JSON.hardenedCInsertComment">
					<td>Remarks</td>
					<td>{{Report.JSON.hardenedCInsertComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr>
					<td>Batteries serviced as per WIM Pro</td>
					<td>{{Report.JSON.batteriesServiced}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr ng-if="Report.JSON.batteriesServicedComment">
					<td>Remarks</td>
					<td>{{Report.JSON.batteriesServicedComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr>
					<td>Spring shackles and trunion lubricated as per WIM Pro</td>
					<td>{{Report.JSON.springShaklesAndTrunionLubricated}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr ng-if="Report.JSON.springShaklesAndTrunionLubricatedComment">
					<td>Remarks</td>
					<td>{{Report.JSON.springShaklesAndTrunionLubricatedComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr>
					<td>Kingpins and steering joints greased as per WIM Pro</td>
					<td>{{Report.JSON.kingsAndSteeringJointGreased}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr ng-if="Report.JSON.kingsAndSteeringJointGreasedComment">
					<td>Remarks</td>
					<td>{{Report.JSON.kingsAndSteeringJointGreasedComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr>
					<td>Propshaft universals and center bearings greased as per WIM Pro</td>
					<td>{{Report.JSON.propsShaftUniversal}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr ng-if="Report.JSON.propsShaftUniversalComment">
					<td>Remarks</td>
					<td>{{Report.JSON.propsShaftUniversalComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr>
					<td>Date of inspection</td>
					<td>{{moment(Report.JSON.dateOfInspection).format('YYYY/MM/DD HH:mm:ss')}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr>
					<td>Comments/Photo's</td>
					<td><!-- some img's --></td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			    <tr>
					<td>Place of Inspection</td>
					<td>{{Report.JSON.placeForInspection}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     <tr>
					<td>Action by Service Manager/Foreman</td>
					<td>{{Report.JSON.actionByService}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
			    </tr>
			     
	  		</tbody>
		</table>
    </div>
</div>