<div class="inset"  style="padding-top: 30px; padding-bottom: 50px;" ng-controller='AuditReportCtrl'>
	<div class="container" style="margin-top: 10px;">
    	<div class="table-responsive">
				<label>Audit Form</label>
				<label style="padding-left: 300px;">Audit Form {{Report.FormDate}}</label>
				<label style="float:right">Job Start :{{Report.FormDate}}</label>
    		<table class="table table-hover table-bordered">
			<thead>
				<tr>
			    	<th>Task</th>
					<th>Answer</th>
					<th>Completed Date</th>
					<th>Completed By</th>
					<th>Percentage %</th>
				</tr>
			</thead>
			<tbody>
				<tr><h4>Vehicle Basic Details (VIN Scanning)</h4></tr>
				<tr>
					<td>License No.</td>
					<td>{{Report.JSON.LicenseNumber}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
		    	</tr>
		    	<tr>
					<td>Tarre</td>
					<td>{{Report.JSON.Tarre}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
		    	</tr>
		    	<tr>
					<td>AAA</td>
					<td>{{Report.JSON.NatisLicenseNumber}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
		    	</tr>
		    	<tr>
					<td>BBB</td>
					<td>{{Report.JSON.RegistrationFrequency}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
		    	</tr>
		    	<tr>
					<td>Disc No.</td>
					<td>{{Report.JSON.DiscNo}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
		    	</tr>
		    	<tr>
					<td>Registration No.</td>
					<td>{{Report.JSON.RegistrationNo}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
		    	</tr>
		    	<tr>
					<td>Vehicle Registration No.</td>
					<td>{{Report.JSON.VehicleRegistrationNo}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
		    	</tr>
		    	<tr>
					<td>Description</td>
					<td>{{Report.JSON.VehicleDescription}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
		    	</tr>
		    	<tr>
					<td>Make</td>
					<td>{{Report.JSON.Make}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
		    	</tr>
		    	<tr>
					<td>CCC</td>
					<td>{{Report.JSON.Model}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
		    	</tr>
		    	<tr>
					<td>Color</td>
					<td>{{Report.JSON.Color}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
		    	</tr>
		    	<tr>
					<td>VIN</td>
					<td>{{Report.JSON.VinNumber}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
		    	</tr>
		    	<tr>
					<td>Engine No.</td>
					<td>{{Report.JSON.EngineNo}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
		    	</tr>
		    	<tr>
					<td> License Expiry Date</td>
					<td>{{Report.JSON.ExpiryDate}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
		    	</tr>

			</tbody>
			<tbody>
				<tr>
					<td>Customer</td>
					<td>{{Report.JSON.CustomerName}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
				<tr>
					<td>Kilometers</td>
					<td>{{Report.JSON.Kilometers}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr ng-repeat="id in kilometersImages">
					<td>Kilometers (image)</td>
					<td><img id="odometer-img" class="center-img img-responsive"  align="middle" ng-src="{{imageUrl +  id}}"></td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr>
					<td>Vin match</td>
					<td>{{Report.JSON.vinmatch ? 'Yes' : 'False'}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr>
					<td>License match</td>
					<td>{{Report.JSON.licensematch ? 'Yes' : 'False'}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr ng-if="Report.JSON.vinimage">
					<td>VIN no. No Match </td>
					<td><img id="vin-img" class="center-img img-responsive"  align="middle" ng-src="{{imageUrl + Report.JSON.vinimage}}"></td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr ng-if="Report.JSON.regimage">
					<td>License no. No Match</td>
					<td><img id="reg-img" class="center-img img-responsive"  align="middle" ng-src="{{imageUrl + Report.JSON.regimage}}"></td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr>
					<td>Date</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr>
					<td>Cab Interior</td>
					<td>{{Report.JSON.CabInterior}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td>{{Report.JSON.CabInteriorRating}}</td>
			    </tr>
			    <tr>
			    <tr ng-if="Report.JSON.CabInteriorComment">
					<td>Remarks</td>
					<td>{{Report.JSON.CabInteriorComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
					<td>Steering Play</td>
					<td>{{Report.JSON.SteeringPlay}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td>{{Report.JSON.SteeringPlayRating}}</td>
			    </tr>
			   <tr ng-if="Report.JSON.SteeringPlayComment">
					<td>Remarks</td>
					<td>{{Report.JSON.SteeringPlayComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr>
					<td>Electrical (general)</td>
					<td>{{Report.JSON.Electrical}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td>{{Report.JSON.ElectricalRating}}</td>
			    </tr>
			  	<tr ng-if="Report.JSON.ElectricalComment">
					<td>Remarks</td>
					<td>{{Report.JSON.ElectricalComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr>
					<td>Engine (Smoke & Sound)</td>
					<td>{{Report.JSON.Engine_Smoke}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td>{{Report.JSON.Engine_SmokeRating}}</td>
			    </tr>
			    <tr ng-if="Report.JSON.Engine_SmokeComment">
					<td>Remarks</td>
					<td>{{Report.JSON.Engine_SmokeComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			     <tr>
					<td>Clutch Operation</td>
					<td>{{Report.JSON.ClutchOperation}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td>{{Report.JSON.ClutchOperationRating}}</td>
			    </tr>
			    <tr ng-if="Report.JSON.ClutchOperationComment">
					<td>Remarks</td>
					<td>{{Report.JSON.ClutchOperationComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			     <tr>
					<td>Brakes (Foot & Hand)</td>
					<td>{{Report.JSON.Brakes}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td>{{Report.JSON.BrakesRating}}</td>

			    </tr>
			     <tr ng-if="Report.JSON.BrakesComment">
					<td>Remarks</td>
					<td>{{Report.JSON.BrakesComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			     <tr>
					<td>Gear Selection</td>
					<td>{{Report.JSON.GearSelector}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td>{{Report.JSON.GearSelectorRating}}</td>
			    </tr>
			     <tr ng-if="Report.JSON.GearSelectorComment">
					<td>Remarks</td>
					<td>{{Report.JSON.GearSelectorComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			     <tr>
					<td>Diff/Propshaft Play</td>
					<td>{{Report.JSON.PropshaftPlay}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td>{{Report.JSON.PropshaftPlayRating}}</td>
			    </tr>
			    <tr ng-if="Report.JSON.PropshaftPlayComment">
					<td>Remarks</td>
					<td>{{Report.JSON.PropshaftPlayComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr>
					<td>Cab Exterior (glass & dents)</td>
					<td>{{Report.JSON.CabExterior}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td>{{Report.JSON.CabExteriorRating}}</td>
			    </tr>
			   <tr ng-if="Report.JSON.CabExteriorComment">
					<td>Remarks</td>
					<td>{{Report.JSON.CabExteriorComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			     <tr>
					<td>Rust</td>
					<td>{{Report.JSON.Rust}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td>{{Report.JSON.RustRating}}</td>
			    </tr>
			    <tr ng-if="Report.JSON.RustComment">
					<td>Remarks</td>
					<td>{{Report.JSON.RustComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td>{{Report.JSON.RustRating}}</td>
			    </tr>
			     <tr>
					<td>License COF/ Operator Card</td>
					<td>{{Report.JSON.LicenseCard}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td>{{Report.JSON.LicenseCardRating}}</td>
			    </tr>
			     <tr>
					<td>Fluid Leaks</td>
					<td>{{Report.JSON.FluidLeaks}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td>{{Report.JSON.FluidLeaksRating}}</td>
			    </tr>
			    <tr ng-if="Report.JSON.FluidLeaksComment">
					<td>Remarks</td>
					<td>{{Report.JSON.FluidLeaksComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr>
					<td>Tyres</td>
					<td>{{Report.JSON.Tyres}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td>{{Report.JSON.TyresRating}}</td>
			    </tr>
			    <tr ng-if="Report.JSON.TyresComment">
					<td>Remarks</td>
					<td>{{Report.JSON.TyresComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr ng-repeat="id in TyresImages">
					<td>Kilometers (image)</td>
					<td><img id="tyres-img" class="center-img img-responsive"  align="middle" ng-src="{{imageUrl + id}}"></td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr>
					<td>Additional Equipment</td>
					<td>{{Report.JSON.Equipment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td>{{Report.JSON.EquipmentRating}}</td>

			    </tr>
			    <tr ng-if="Report.JSON.EquipmentComment">
					<td>Remarks</td>
					<td>{{Report.JSON.EquipmentComment}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr>
					<td>Abuse Related Costs</td>
					<td>{{Report.JSON.AbuseRelatedCosts}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			     <tr>
					<td>Costs</td>
					<td>{{Report.JSON.Costs ? Report.JSON.Costs : 0}}</td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr ng-repeat="id in otherImages">
					<td>Other Photos</td>
					<td><img id="other_photos" class="center-img img-responsive"  align="middle" ng-src="{{imageUrl + id}}"></td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			    <tr>
					<td><label>Overall Rating</label></td>
					<td></td>
					<td></td>
					<td></td>
					<td><label>{{Report.JSON.overallRating}}</label></td>
			    </tr>
			    <tr>
					<td><label>Condition of Additional Equipment Rating</label></td>
					<td></td>
					<td></td>
					<td></td>
					<td><label>{{Report.JSON.additionalEquipmentRating}}</label></td>
			    </tr>
			    <tr>
					<td><label>Vehicle Fitness Rating</label></td>
					<td></td>
					<td></td>
					<td></td>
					<td><label>{{Report.JSON.vehicleFitnessRating}}</label></td>
			    </tr>
			     <tr>
					<td>Inspector Signature</td>
	
					<td><svg viewBox="0 0 100 100">
  						<img ng-attrs-xlink:href="{{signature}}" x="0" y="0" height="100" width="100" />
					</svg></td>
					<td>{{Report.JSON.timeString}}</td>
					<td>{{Report.JSON.User_Name}}</td>
					<td></td>
			    </tr>
			     
	  		</tbody>
		</table>
    	</div>	
	</div>
 
</div>