
<div ng-controller="ClientCtrl">
    <div class="inset" style="padding-top: 15px;">
        <div ng-show="mode === 'list'" style="margin-bottom: 10px;">
            <input ng-model-options="{ debounce: 300 }" ng-change="filterList()" ng-model="searchText" type="text" class="form-control" placeholder="Search for Customers">
            <span class="input-group-btn">
        </div>
        <div class=" list-group" ng-show="mode === 'list' " >
            <div class="row">
                <div ng-if="splitArr.length > 0" class="row" style="margin-left:10px; margin-right:5px;">
                   <div class="col-xs-2  col-sm-2">Customer Code</div>
                    <div class="col-xs-4  col-sm-2">Customer Name</div>
                    <div class="col-xs-1 col-sm-2">Active</div>
                </div>
            </div>
            <a href="#/Clients/form/{{client.ClientID}}" class="list-group-item" ng-repeat="client in splitArr[idx] | filter: searchText">
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            	<div class="row">
                    <div class="col-xs-2">{{client.ClientID}}</div>
                    <div class="col-xs-2">{{client.Name}}</div>
                    <div class="col-xs-2">{{client.Active ? 'Y' : 'N'}}</div>
              	</div>
            </a>

        </div>
        <div id="upload" style="margin-top: 10px;" class="well collapse" ng-show="mode === 'list'">
            <em>Importing your Client item requires that the file extention be in .csv format with the following fields : ClientID, Name, Active.</em>
            <form id="file-form" method="POST" role="form" class="form-inline">
                <div class="form-group" style="display: inline-block;">
                  <ng-csv-import  content="csv.content" header="csv.header" separator="csv.separator" result="csv.result" accept="csv.accept" style="display: inline-block;"></ng-csv-import>
                  <button style="margin-left: 10px;" class="btn btn-success" type="button" ng-click="uploadCsv(csv.header, csv.result)">Upload</button>
                </div>
            </form>
        </div>
        <a href=""><button data-toggle="collapse" style="background-color: #31373B;bottom: 70px;" data-target="#upload" type="button" class="round-btn" ng-show="mode === 'list'"><span class="fa fa-cloud-upload icon"></span></button>
        </a>
        <nav aria-label="..." ng-if="mode === 'list'">
            <ul ng-if="splitArr.length > 0" class="pager">
                <li><button class="btn btn-default btn-lg" type="button" ng-disabled="idx === 0" ng-click="navigate(-idx)">&laquo;</button></li>
                <li><button class="btn btn-default btn-lg" type="button" ng-click="navigate(-1)" ng-disabled="idx === 0">&lsaquo;</button></li>
                <li><button class="btn btn-default btn-lg" type="button">Page {{idx + 1}} of {{splitArr.length}}</button></li>
                <li><button class="btn btn-default btn-lg" type="button" ng-click="navigate(1)" ng-disabled="pageIdx === clients.length">&rsaquo;</button></li>
                <li><button class="btn btn-default btn-lg" type="button" ng-disabled="idx === users" ng-click="navigate(splitArr.length - idx - 1)">&raquo;</button></li>
            </ul>
            <div class="alert alert-warning" ng-if="splitArr.length === 0">
                <p><i class="fa fa-info"></i> No results found</p>
            </div>
        </nav>    
        <!-- Deals With Weather The User Edits or Adds A New Record -->
        <div ng-show="mode ===  'form' || id === 'new'">
            <form style="margin-top: 5px">

                <div class="form-group">
                    <label for="Code">Customer Code</label>
                    <input type="number" min="0" class="form-control" id="Code" ng-model="clientEdit.ClientID" ng-disabled="id !== 'new'">
                </div>

                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="Name" ng-model="clientEdit.Name" maxlength="50">
                </div>

                <div class="form-group" ng-hide=" id === 'new'" >
                    <label for="Latitude">Active</label>
                </div>

                <div class="checkbox" ng-hide=" id === 'new'" >
                    <label>
                        <input type="checkbox" ng-checked="clientEdit.Active" ng-model="clientEdit.Active">
                    </label>
                </div>

            </form>
            <!-- <div class="btn btn-danger btn-block" ng-hide=" id === 'new' " ng-click="deleteClient()"><span class="glyphicon glyphicon-floppy-remove"></span> Delete</div> -->

        </div>


        <div class="alert alert-success" role="alert" ng-if="successMsg">{{successMsg}}</div>
        <div class="alert alert-danger" role="alert" ng-if="errorMsg" ng-bind="errorMsg"></div>
    </div>
</div>