<div id="listOpenView" ng-controller="ListOpenCtrl" style="background: url('{{settings.splash}}') no-repeat center center fixed;
                                                            height: 100vh;
                                                            -webkit-background-size: cover;
                                                            -moz-background-size: cover;
                                                            -o-background-size: cover;
                                                            background-size: cover;">
    <div class="inset" style="padding-top: 5px; padding-bottom: 50px;max-width: 100%;overflow-x: hidden;">
        <div ng-if="mode === 'jobs'" class="list-group inset">
            <div style="margin-top: 10px;" class="alert alert-warning" ng-if="CompletedJobsCount > 0">
                <p><i class="fa fa-info"></i> You have {{CompletedJobsCount}} unsent invoice(s). <a href="#/sync">Click here to Sync</a></p>
            </div>
            <div class="btn-group btn-group-justified" role="group"  style="margin-top:10px;">
                <div  class="btn-group" role="group">
                    <button ng-click="onJobClicked('open')" class="btn btn-default" style="background-color: rgba(0,0,0,.6); color: white">
                        <h4>Open Jobs</h4>
                        <p style="visibility:hidden;">(Not Synced)</p>
                        <h1 style="color: white">{{openJobsCount}}</h1>
                    </button>
                </div>
                <div  class="btn-group" role="group">
                    <button ng-click="onJobClicked('completed')" class="btn btn-default" style="background-color: rgba(0,0,0,.6); color: white">
                        <h4>Completed Jobs</h4>
                        <p>(Not Synced)</p>
                        <h1 style="color: white">{{CompletedJobsCount}}</h1>
                    </button>
                </div>
            </div>
             <div class="btn-group btn-group-justified" role="group">
                <div  class="btn-group" role="group">
                    <button class="btn btn-default" style="background-color: rgba(0,0,0,.6); color: white">
                        <h4>Closed Jobs for this month</h4>
                         <p>(Synced)</p>
                        <h1 style="color: white">{{CloseJobsCount.result}}</h1>
                        <h3 ng-if="!CloseJobsCount">{{closedJobsMsg}}</h3>
                    </button>
                </div>
             </div>
             <a style="margin-top: 10px;" ng-if="mode === 'jobs'" href="#job/createnew" role="button" type="submit" class="btn btn-primary btn-block">Create New</a>
        </div>
        <div class="list-group">
            <div ng-if="mode === 'open'"  class="well" style="padding:5px;">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-9">
                            <select name="job_type" class="form-control" id="job_type" ng-model="searchText.JobType" ng-options="item.value as item.name for item in selectOptions"><option value="">-- Select a job type --</option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input name="date_complete" placeholder="Search by Date"  class="form-control" id="date_complete" ng-model="searchText.Date" date-format="longDate" useNative="true" data-autoclose="1"  use-native="true" bs-datepicker data-date-format="yyyy-MM-dd"  type="text">
                                  <span class="input-group-btn">
                                    <button class="btn btn-primary" ng-click="searchText.Date = currentDate" type="button">Today</button>
                                  </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9"><input name="identifier" class="form-control" placeholder="Search by Rego/Supplier/Customer" id="identifier" ng-model="searchText.Text" type="text"></div>
                    </div>
                    <button ng-click="onSearchClicked()" class="btn btn-success">Search <span class="fa fa-search"></span></button> <button ng-click="onClearClicked()" class="btn btn-danger">Clear</button>
                </form>
            </div>
            <div style="padding: 16px;">
                <a ng-click="onInspectionClicked($index)" ng-repeat="row in InspectionForms" class="row list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <div class="col-xs-12">
                                <div  ng-if="row.FormType === 'afterserviceevaluation'">After Service Inspection</div>
                                <div  ng-if="row.FormType === 'audit'">Audit</div>
                                <div  ng-if="row.FormType === 'customervisit'">Customer Visit</div>
                                <div  ng-if="row.FormType === 'supplierevaluation'">Supplier Evaluation</div>
                                <div  ng-if="row.FormType === 'technicalreport'">Technical Report</div>
                            </div>
                            <div class="col-xs-12">{{row.timeString}}</div>
                        </div>

                        <div ng-click="fetchOpenJobImages($index);$event.stopPropagation();" class="col-xs-2"><span class=" btn btn-danger  fa fa-trash-o pull-right"></span></div>
                    </div>
                </a>
            </div>
            <div class="alert alert-warning" ng-if="mode === 'open' && InspectionForms.length === 0">
                <p><i class="fa fa-info"></i> No results found</p>
            </div>
            <a ng-if="mode === 'open'" href="#job/createnew" role="button" class="btn btn-primary btn-block">Create New</a>
        </div>
        <div ng-if="mode === 'ratings'">
            <div ng-if="jobType == 'afterserviceevaluation'" style="margin-top: 10px;" class="alert alert-warning">
                <p><i class="fa fa-info"></i> Remarks For  After Service Inspection</p>
            </div>
            <div ng-if="jobType == 'audit'" style="margin-top: 10px;" class="alert alert-warning">
                <p><i class="fa fa-info"></i> Remarks For Audit</p>
            </div>
            <div ng-if="jobType == 'technicalreport'" style="margin-top: 10px;" class="alert alert-warning">
                <p><i class="fa fa-info"></i> Remarks For Technical Report</p>
            </div>
             <div ng-if="jobType == 'supplierevaluation'" style="margin-top: 10px;" class="alert alert-warning">
                <p><i class="fa fa-info"></i> Remarks For {{supplierStatus == 'New' ? 'New ' : 'Existing ' }} Supplier</p>
            </div>

            <div ng-if="jobType !== 'technicalreport'" style="margin-top: 10px;" class="alert alert-info">
                <p><i class="fa fa-info"></i> Overall Rating : {{overallRating + '%'}}</p>
            </div>
            <div ng-if="additionalEquipmentRating > 0" style="margin-top: 10px;" class="alert alert-info">
                <p><i class="fa fa-info"></i> Additional Equipment Rating :  {{additionalEquipmentRating + '%'}}</p>
            </div>
             <div ng-if="jobType !== 'supplierevaluation' && jobType !== 'afterserviceevaluation'" style="margin-top: 10px;" class="alert alert-info">
                <p><i class="fa fa-info"></i> Vehicle Fitness Rating :  {{vehicleFitnessRating}}</p>
            </div>
            <div ng-if="jobType === 'supplierevaluation' && supplierStatus !== 'New'" style="margin-top: 10px;" class="alert alert-info">
                <p><i class="fa fa-info"></i> FleetAfrica Competency & Communication Rating :  {{supplierCompetencyRating + '%'}}</p>
            </div>
            <div ng-if="jobType === 'supplierevaluation' && supplierStatus !== 'New'" style="margin-top: 10px;" class="alert alert-info">
                <p><i class="fa fa-info"></i> FleetAfrica Etiquette, Lead Time & Professionalism Rating :  {{supplierEtiquetteRating + '%'}}</p>
            </div>
            <div ng-if="jobType === 'supplierevaluation' && supplierStatus !== 'New'" style="margin-top: 10px;" class="alert alert-info">
                <p><i class="fa fa-info"></i> FleetAfrica Payment & RFC Rating :  {{supplierPaymentRating + '%'}}</p>
            </div>

        </div>
    </div>
</div>
