<div style="padding-top: 15px; padding-bottom: 50px;" class="inset" ng-controller="SelectClientCtrl">
	<!-- Screen 0 SelectClient -->
	<form ng-if="view === 'client'" style="margin-top: 10px;" class="form-horizontal">
		<div class="form-group">
	        <label for="client" class="col-sm-2">Customer *</label>
	        <div class="col-sm-10">
	        	<select ng-disabled="disabled" ng-change="onNextClicked()" class="form-control" ng-model="Form.ClientID" ng-options="client.ClientID as client.Name for client in Clients">
	        		<option ng-if="!disabled" value="">-- Please select an option --</option>
	        	</select>
	        </div>
	    </div>
	    <div ng-if="inspectiontype === 'supplierevaluation'">
	    	<div class="form-group">
	        <label for="client" class="col-sm-2">New / Existing Supplier*</label>
	        <div class="col-sm-10">
	        	<select ng-change="onNextClicked()" ng-model="Form.JSON.SupplierStatus" class="form-control" ng-disabled="disabled">
    				<option ng-if="!disabled" value="">-- Please select an option --</option>
    				<option>New</option>
    				<option>Existing</option>
				</select>
	        </div>
	    </div>
	    </div>
	</form>
	<!-- Screen 1 Scan -->
	<div style="margin-top: 10px;" ng-if="view === 'licence'">
		<img  align="middle" class="img-responsive center-img" ng-src="./img/scan-img.png">
		<button ng-click="nfcScan()" style="margin-top: 15px;" class="btn btn-primary btn-block"  type="button">Scan <span class="fa fa-search"></span></button>
	</div>
	<!-- Screen 2 VinPicture -->
	<div style="margin-top: 10px;" ng-if="view ==='vinpicture'">
		<img ng-if="!isPhoneGap" align="middle" class="img-responsive center-img" ng-if="image" ng-src="{{image}}">
		<img ng-if="isPhoneGap"  align="middle" id="vin-image" class="img-responsive center-img" ng-if="image">
		<div style="margin-top: 15px" ng-if="!capture" class="alert alert-info">
            	<p><i class="fa fa-info"></i> Please capture a picture of the VIN number</p>
        </div>
		<div style="margin-top:10px;" class="well well-sm">
			<button class="btn btn-success" ng-if="isPhoneGap"  ng-click="onPhotoClicked('vin')" class="btn btn-success">Capture <span class="fa fa-camera"></span></button>
			<form ng-if="!isPhoneGap" style="margin-top: 10px;"  id="file-form" method="POST" role="form" class="form-inline">
				<div class="form-group">
				  <input class="col-xs-8" id="file-select" type="file" capture="camera" accept="image/*">
				  <button ng-click="onPhotoClicked()" class="btn btn-success">Upload</button>
				</div>
			</form>
		</div>
   </div>
   <!-- Screen 3 VinMatch -->
   <div style="margin-top: 10px;" ng-if="view === 'vinmatch'">
   		<div style="margin-top: 15px" class="alert alert-info">
            <p><i class="fa fa-info"></i> Do the VIN Numbers match ?</p>
        </div>
        <div class="well"><img id="vin-img" class="center-img img-responsive"  align="middle" ng-src="{{image}}"></div>
   		<h4 style="margin-top: 10px; text-align: center; margin-right: 70px;"><b>Licence Disk : {{VinNumber}}</b></h4>
   		<div class="btn-group btn-block" role="group">
   			<button ng-click="matchClicked('match')" ng-class="(Form.JSON.vinmatch == true) ? 'btn btn-primary col-xs-6' : 'btn btn-default col-xs-6'">Match</button><button ng-click="matchClicked('')" ng-class="(Form.JSON.vinmatch == false) ? 'btn btn-primary col-xs-6' : 'btn btn-default col-xs-6'">No match</button>
   		</div>
   </div>
	<!-- Screen 4 LicensePhoto -->
   <div style="margin-top: 10px;" ng-if="view === 'licensephoto'">
   		<div style="margin-top: 15px" ng-if="!capture" class="alert alert-info">
            <p><i class="fa fa-info"></i> Please capture a picture of the License Plate</p>
        </div>
   		<img ng-if="!isPhoneGap" align="middle"  class="img-responsive center-img" ng-if="image" ng-src="{{image}}">
	    <img ng-if="isPhoneGap" align="middle" id="license-image" class="img-responsive center-img" ng-if="image" >
	    <div style="margin-top:10px;" class="well well-sm">
        	<button class="btn btn-success" ng-if="isPhoneGap"  ng-click="onPhotoClicked('license')" class="btn btn-success">Capture <span class="fa fa-camera"></span></button>
			<form ng-if="!isPhoneGap" style="margin-top: 10px;"  id="file-form" method="POST" role="form" class="form-inline">
				<div class="form-group">
				  <input class="col-xs-8" id="file-select" type="file" capture="camera" accept="image/*">
				  <button ng-click="onPhotoClicked()" class="btn btn-success">Upload</button>
				</div>
			</form>
		</div>
   </div>
   <!-- Screen 5 LicenceMatch -->
   <div style="margin-top: 10px;" ng-if="view === 'licensematch'">
   		<div style="margin-top: 15px" class="alert alert-info">
            <p><i class="fa fa-info"></i> Do the Registration Numbers Match ?</p>
        </div>
        <div class="well"><img id="reg-img" class="center-img img-responsive"  align="middle" ng-src="{{image}}"></div>

   		<h4 style="margin-top: 10px; text-align: center; margin-right: 70px;"><b>Licence Plate : {{RegNumber}}</b></h4>
   		<div class=" btn-group btn-block">
   			<button ng-click="matchClicked('match')" ng-class="(Form.JSON.regmatch == true) ? 'btn btn-primary col-xs-6' : 'btn btn-default col-xs-6'">Match</button><button ng-click="matchClicked('')" ng-class="(Form.JSON.regmatch == false) ? 'btn btn-primary col-xs-6' : 'btn btn-default col-xs-6'">No match</button>
   		</div>
   </div>
</div>
