<div style="padding-top: 15px; padding-bottom: 50px;" class="inset" ng-controller="SelectClientCtrl">
	<!-- Screen 0 SelectClient -->
	<form ng-if="view === 'client'" style="margin-top: 10px;" class="form-horizontal">
		<div class="form-group">
	        <label for="client" class="col-sm-2">Client *</label>
	        <div class="col-sm-10">
	        	<select class="form-control" ng-model="Form.ClientID" ng-options="client.ClientID as client.Name for client in Clients">
    				<option value="">-- Please select a Client --</option>
				</select>
	        </div>
	    </div>
	</form>
	<!-- Screen 1 Scan -->
	<div style="margin-top: 10px;" ng-if="view === 'licence'">
		<img  align="middle" class="img-responsive center-img" ng-src="./img/licencedisk.png">
		<button ng-click="nfcScan()" style="margin-top: 15px;" class="btn btn-primary btn-block"  type="button">Scan <span class="fa fa-search"></span></button>
	</div>
	<!-- Screen 2 VinPicture -->
	<div style="margin-top: 10px;" ng-if="view ==='vinpicture'">
		<img align="middle" class="img-responsive center-img" ng-if="image" ng-src="{{image}}">
		<div style="margin-top: 15px" ng-if="!capture" class="alert alert-info">
            	<p><i class="fa fa-info"></i> Please capture a picture of the VIN number</p>
        </div>
		<div style="margin-top:10px;" class="well well-sm">
			<button class="btn btn-success" ng-if="isPhoneGap"  ng-click="onPhotoClicked()" class="btn btn-success">Capture <span class="fa fa-camera"></span></button>
			<form ng-if="!isPhoneGap" style="margin-top: 10px;"  id="file-form" method="POST" role="form" class="form-inline">
				<div class="form-group">
				  <input class="col-xs-8" id="file-select" type="file" capture="camera" accept="image/*">
				  <button ng-click="onPhotoClicked()" class="btn btn-success">Upload</button>
				</div>
			</form>
		</div>
   </div>
   <!-- Screen 3 VinMatch -->
   <div style="margin-top: 10px;" ng-if="view === 'vinmatch'">
   		<div style="margin-top: 15px" class="alert alert-info">
            <p><i class="fa fa-info"></i> Do the VIN Numbers match ?</p>
        </div>
        <div class="well"><img id="vin-img" class="center-img img-responsive"  align="middle" ng-src="{{image}}"></div>
   		<h4 style="margin-top: 10px; text-align: center; margin-right: 70px;"><b>Licence Disk : {{VinNumber}}</b></h4>
   		<div class="btn-group btn-block" role="group">
   			<button ng-click="matchClicked('match')" ng-class="(Form.JSON.vinmatch == true) ? 'btn btn-primary col-xs-6' : 'btn btn-default col-xs-6'">Match</button><button ng-click="matchClicked('')" ng-class="(Form.JSON.vinmatch == false) ? 'btn btn-primary col-xs-6' : 'btn btn-default col-xs-6'">No match</button>
   		</div>
   </div>
	<!-- Screen 4 LicensePhoto -->
   <div style="margin-top: 10px;" ng-if="view === 'licensephoto'">
   		<div style="margin-top: 15px" ng-if="!capture" class="alert alert-info">
            <p><i class="fa fa-info"></i> Please capture a picture of the License Plate</p>
        </div>
   		<img align="middle" class="img-responsive center-img" ng-if="image" ng-src="{{image}}">
        <div style="margin-top:10px;" class="well well-sm">
        	<button class="btn btn-success" ng-if="isPhoneGap"  ng-click="onPhotoClicked()" class="btn btn-success">Capture <span class="fa fa-camera"></span></button>
			<form ng-if="!isPhoneGap" style="margin-top: 10px;"  id="file-form" method="POST" role="form" class="form-inline">
				<div class="form-group">
				  <input class="col-xs-8" id="file-select" type="file" capture="camera" accept="image/*">
				  <button ng-click="onPhotoClicked()" class="btn btn-success">Upload</button>
				</div>
			</form>
		</div>
   </div>
   <!-- Screen 5 LicenceMatch -->
   <div style="margin-top: 10px;" ng-if="view === 'licensematch'">
   		<div style="margin-top: 15px" class="alert alert-info">
            <p><i class="fa fa-info"></i> Do the Registration Numbers Match ?</p>
        </div>
        <div class="well"><img id="reg-img" class="center-img img-responsive"  align="middle" ng-src="{{image}}"></div>
        
   		<h4 style="margin-top: 10px; text-align: center; margin-right: 70px;"><b>Licence Plate : {{RegNumber}}</b></h4>
   		<div class=" btn-group btn-block">
   			<button ng-click="matchClicked('match')" ng-class="(Form.JSON.regmatch == true) ? 'btn btn-primary col-xs-6' : 'btn btn-default col-xs-6'">Match</button><button ng-click="matchClicked('')" ng-class="(Form.JSON.regmatch == false) ? 'btn btn-primary col-xs-6' : 'btn btn-default col-xs-6'">No match</button>
   		</div>
   </div>
   <!-- Screen 6 Inspection Form -->
   <div ng-if="view === 'form'">
   		<div ng-if="inspectiontype === 'audit' || inspectiontype === 'technicalreport' || inspectiontype === 'afterserviceevaluation'" class="container">
			<h3>Vehicle Basic Details</h3>
			<div  class="panel panel-default">
				<div class="panel-body form-horizontal">
					<div class="form-group">
						<label for="client" class="col-sm-3">Client</label>
						<div class="col-sm-9"><p> {{Form.FormID}}</p></div>
					</div>
					<div class="form-group">
						<label for="vin" class="col-sm-3">VIN</label>
						<div class="col-sm-9"><p>{{Form.JSON.VinNumber}}</p></div>
					</div>
					<div class="form-group">
						<label for="registration" class="col-sm-3">Registration</label>
						<div class="col-sm-9"><p>{{Form.JSON.RegNumber}}</p></div>
					</div>
					<div class="form-group">
						<label for="licence-exp-date" class="col-sm-3">License Disk Expiration Date</label>
						<div class="col-sm-9"><p>{{Form.JSON.LicenceExpiryDate}}</p></div>
					</div>
				</div>
			</div>
			<div ng-if="inspectiontype === 'technicalreport'">
				<h3>Service History(Latest - First)</h3>
				<div ng-if="!serviceHistory" style="margin-top: 15px" class="alert alert-warning">
            		<p><i class="fa fa-info"></i> There is no service history available for this Client</p>
        		</div>
				<div ng-if="serviceHistory" style="text-align: center;" class="panel panel-default">
					<div  class="panel-body">
					</div>
				</div>
			</div>
			<h3 ng-if="inspectiontype === 'audit'"> Inspection Details</h3>
			<h3 ng-if="inspectiontype === 'supplierevaluation'"> Supplier Evaluation Details</h3>
			<h3 ng-if="inspectiontype === 'technicalreport'"> Technical Report Details</h3>
			<h3 ng-if="inspectiontype === 'afterserviceevaluation'"> After Service Inspection Details</h3>
			<h3 ng-if="inspectiontype === 'customervisit'"> Customer Visit Details</h3>
			<div ng-if="!isPhoneGap" style="margin-top: 15px" class="alert alert-info">
            	<p><i class="fa fa-info"></i> Please attach image(s) and click upload below</p>
        	</div>
        	<div ng-if="isPhoneGap" style="margin-top: 15px" class="alert alert-info">
            	<p><i class="fa fa-info"></i> Please capture image(s) below</p>
        	</div>
				<form style="margin-top: 35px;" class="form-horizontal">
					<div ng-if="!isPhoneGap" style="margin-top:10px;" id="file-form" method="POST" role="form">
						<div class="well row">
							<div ng-if="inspectiontype === 'audit'">
								<!-- AuditForm Odometer Reading -->
								<div class="col-xs-12 col-md-12"><a  herf="#" style="color : black; text-decoration: none; cursor: pointer; font-weight: bold;">{{Uploadmessage}} For Odometer reading</a></div>
							  	<div class="col-xs-6 col-md-11">
							  		<form ng-if="!isPhoneGap"  id="file-form" method="POST" role="form" class="form-inline">
										<input id="file-select" style="margin-top: 10px;" type="file" capture="camera" accept="image/*">
									</form>
							  	</div>
						  		<div class="col-xs-6 col-md-1"><button ng-click="onPhotoClicked('odometer')" class="btn btn-success pull-right">Upload</button></div>
						  		<!-- AuditForm Tyres -->

						  		<div class="col-xs-12 col-md-12"><a  herf="#" style="color : black; text-decoration: none; cursor: pointer; font-weight: bold;">{{Uploadmessage}} For Tyres</a></div>
							  	<div class="col-xs-6 col-md-11">
							  		<form ng-if="!isPhoneGap" style="margin-top: 10px;"  id="file-form" method="POST" role="form" class="form-inline">
										<input id="file-select" type="file" capture="camera" accept="image/*">
									</form>
							  	</div>
						  		<div class="col-xs-6 col-md-1"><button ng-click="onPhotoClicked('tyres')" class="btn btn-success pull-right">Upload</button></div>
							</div>
						  	<!-- Audit Form Other Photo's -->
						  	<div ng-if="inspectiontype === 'audit" class="col-xs-12 col-md-12"><a  herf="#" style="color : black; text-decoration: none; cursor: pointer; font-weight: bold;">{{Uploadmessage}} For Other Photo's</a></div>
						  	<!-- Technical Report Reuses multiple upload -->
						  	<div ng-if="inspectiontype === 'technicalreport'" class="col-xs-12 col-md-12"><a  herf="#" style="color : black; text-decoration: none; cursor: pointer; font-weight: bold;">{{Uploadmessage}} Description of Findings</a></div>

						  	<div ng-if="inspectiontype === 'technicalreport' || inspectiontype === 'audit'" class="col-xs-6 col-md-11">
								<form id="upload-form" method="POST" id="file-form" role="form" class="form-inline" enctype="multipart/form-data">
									<input ng-if="!isPhoneGap" style="margin-top: 10px;" id="upload-select" name="file[]" type="file" multiple="multiple">
									<div style="margin-top : 5px;">
        								<p class="row" ng-repeat="file in filenames" style="padding: 0; margin : 0; text-decoration: none; font-weight: 400">
           									{{file}}<span ng-click="removeImage($index)" style="margin-left: 15px; color: red; cursor:pointer;">remove</span>
           									<!-- <button ng-click="removeImage($index)" class="btn btn-danger" style="margin-left: 15px; margin-bottom: 5px;">remove</button> -->
        								</p>
    								</div>
								</form>
						  	</div>
						  	<div ng-if="inspectiontype === 'audit' || inspectiontype === 'technicalreport'" class="col-xs-6 col-md-1"><button ng-click="onPhotoClicked('other-photos')" class="btn btn-success pull-right">Upload</button></div>
						</div>
					</div>
					<div ng-if="isPhoneGap">
						<div class="well">
							<div class="form-inline">
								<label style="color : black; text-decoration: none; cursor: pointer; font-weight: bold" for="kilometers">Capture Odometer Reading</label>
								<button ng-click="onPhotoClicked('odometer')" class="btn btn-success pull-right">Capture <span class="fa fa-camera"></span></button>
							</div><br>

							<div class="form-inline">
								<label style="color : black; text-decoration: none; cursor: pointer; font-weight: bold" for="tyres">Capture Tyres condition</label>
								<button ng-click="onPhotoClicked('tyres')" class="btn btn-success pull-right">Capture <span class="fa fa-camera"></span></button>
							</div><br>
							<div class="form-inline">
								<label style="color : black; text-decoration: none; cursor: pointer; font-weight: bold" for="other-photo">Capture Other Photo's</label>
								<button ng-click="onPhotoClicked('otherphotos')" class="btn btn-success pull-right">Capture <span class="fa fa-camera"></span></button>
							</div>

						</div>
					</div>
				</form>
			<!-- JsonForm  -->
			<jsonform inline="true" formid="session.formid" fields="session.displayfields" asyncRslt="[]" json="Form.JSON" settings="session.settings"></jsonform>
			<div style="margin-top:10px;">
				<div class="alert alert-info"><i class="fa fa-info"></i> Please Sign below before saving your request</div>
				<!-- Signature box for * 4 forms except  supplierevaluation  -->
				<div class="panel panel-default" ng-if="inspectiontype !== 'supplierevaluation'">
					<div class="panel-heading">Signature  Of {{inspectorSignatureBoxLabel}}</div>
					<div class="panel-body">
						<signature ng-model="signature.inspector" cssclass="signatureField" color="#000000" bg-color="#222222"></signature>
					</div>
				</div>
				<!-- Signature box for  supplierevaluation form -->
				<div ng-if="inspectiontype === 'supplierevaluation'" class="panel panel-default">
					<div class="panel-heading">Signature Of {{techSignatureBoxLabel}}}</div>
					<div class="panel-body">
						<signature ng-model="signature.techAdvisor" cssclass="signatureField" color="#000000" bg-color="#222222"></signature>
					</div>
					<div class="panel-heading"> Signature Of {{managerSignatureBoxLabel}}</div>
					<div class="panel-body">
						<signature ng-model=signature.manager cssclass="signatureField" color="#000000" bg-color="#222222"></signature>
					</div>
				</div>

			</div>
		</div> 
   </div>
</div>