<div style="padding-top: 15px; padding-bottom: 50px;" class="inset" ng-controller="SelectClientCtrl">
	<!-- Screen 0 SelectClient -->
	<form ng-if="view === 'client'" style="margin-top: 10px;" class="form-horizontal">
		<div class="form-group">
	        <label for="client" class="col-sm-2">Client *</label>
	        <div class="col-sm-10">
	        	<select class="form-control" ng-model="Form.ClientID" ng-options="client.ClientID as client.Name for client in Clients">
    				<option value="">-- Please select a Client --</option>
				</select>
	        </div>
	    </div>
	    <div ng-if="inspectiontype === 'supplierevaluation'">
	    	<div class="form-group">
	        <label for="client" class="col-sm-2">New / Existing Supplier*</label>
	        <div class="col-sm-10">
	        	<select ng-change="updateSupplierStatus()" ng-model="Form.JSON.UserField20" class="form-control">
    				<option value="">-- Please select an option --</option>
    				<option>New</option>
    				<option>Existing</option>
				</select>
	        </div>
	    </div>
	    </div>
	</form>
	<!-- Screen 1 Scan -->
	<div style="margin-top: 10px;" ng-if="view === 'licence'">
		<img  align="middle" class="img-responsive center-img" ng-src="./img/licencedisk.png">
		<button ng-click="nfcScan()" style="margin-top: 15px;" class="btn btn-primary btn-block"  type="button">Scan <span class="fa fa-search"></span></button>
	</div>
	<!-- Screen 2 VinPicture -->
	<div style="margin-top: 10px;" ng-if="view ==='vinpicture'">
		<img align="middle" class="img-responsive center-img" ng-if="image" ng-src="{{image}}">
		<div style="margin-top: 15px" ng-if="!capture" class="alert alert-info">
            	<p><i class="fa fa-info"></i> Please capture a picture of the VIN number</p>
        </div>
		<div style="margin-top:10px;" class="well well-sm">
			<button class="btn btn-success" ng-if="isPhoneGap"  ng-click="onPhotoClicked()" class="btn btn-success">Capture <span class="fa fa-camera"></span></button>
			<form ng-if="!isPhoneGap" style="margin-top: 10px;"  id="file-form" method="POST" role="form" class="form-inline">
				<div class="form-group">
				  <input class="col-xs-8" id="file-select" type="file" capture="camera" accept="image/*">
				  <button ng-click="onPhotoClicked()" class="btn btn-success">Upload</button>
				</div>
			</form>
		</div>
   </div>
   <!-- Screen 3 VinMatch -->
   <div style="margin-top: 10px;" ng-if="view === 'vinmatch'">
   		<div style="margin-top: 15px" class="alert alert-info">
            <p><i class="fa fa-info"></i> Do the VIN Numbers match ?</p>
        </div>
        <div class="well"><img id="vin-img" class="center-img img-responsive"  align="middle" ng-src="{{image}}"></div>
   		<h4 style="margin-top: 10px; text-align: center; margin-right: 70px;"><b>Licence Disk : {{VinNumber}}</b></h4>
   		<div class="btn-group btn-block" role="group">
   			<button ng-click="matchClicked('match')" ng-class="(Form.JSON.vinmatch == true) ? 'btn btn-primary col-xs-6' : 'btn btn-default col-xs-6'">Match</button><button ng-click="matchClicked('')" ng-class="(Form.JSON.vinmatch == false) ? 'btn btn-primary col-xs-6' : 'btn btn-default col-xs-6'">No match</button>
   		</div>
   </div>
	<!-- Screen 4 LicensePhoto -->
   <div style="margin-top: 10px;" ng-if="view === 'licensephoto'">
   		<div style="margin-top: 15px" ng-if="!capture" class="alert alert-info">
            <p><i class="fa fa-info"></i> Please capture a picture of the License Plate</p>
        </div>
   		<img align="middle" class="img-responsive center-img" ng-if="image" ng-src="{{image}}">
        <div style="margin-top:10px;" class="well well-sm">
        	<button class="btn btn-success" ng-if="isPhoneGap"  ng-click="onPhotoClicked()" class="btn btn-success">Capture <span class="fa fa-camera"></span></button>
			<form ng-if="!isPhoneGap" style="margin-top: 10px;"  id="file-form" method="POST" role="form" class="form-inline">
				<div class="form-group">
				  <input class="col-xs-8" id="file-select" type="file" capture="camera" accept="image/*">
				  <button ng-click="onPhotoClicked()" class="btn btn-success">Upload</button>
				</div>
			</form>
		</div>
   </div>
   <!-- Screen 5 LicenceMatch -->
   <div style="margin-top: 10px;" ng-if="view === 'licensematch'">
   		<div style="margin-top: 15px" class="alert alert-info">
            <p><i class="fa fa-info"></i> Do the Registration Numbers Match ?</p>
        </div>
        <div class="well"><img id="reg-img" class="center-img img-responsive"  align="middle" ng-src="{{image}}"></div>
        
   		<h4 style="margin-top: 10px; text-align: center; margin-right: 70px;"><b>Licence Plate : {{RegNumber}}</b></h4>
   		<div class=" btn-group btn-block">
   			<button ng-click="matchClicked('match')" ng-class="(Form.JSON.regmatch == true) ? 'btn btn-primary col-xs-6' : 'btn btn-default col-xs-6'">Match</button><button ng-click="matchClicked('')" ng-class="(Form.JSON.regmatch == false) ? 'btn btn-primary col-xs-6' : 'btn btn-default col-xs-6'">No match</button>
   		</div>
   </div>
   <!-- Screen 6 Inspection Form -->
   <div ng-if="view === 'form'">
		<h3 ng-if="inspectiontype !=='customervisit' && inspectiontype !== 'supplierevaluation'">Vehicle Basic Details</h3>
		<div ng-if="inspectiontype !=='customervisit' && inspectiontype !== 'supplierevaluation'" class="panel panel-default">
			<div class="panel-body form-horizontal">
				<div class="form-group">
					<label for="client" class="col-sm-3">Client</label>
					<div class="col-sm-9"><p> {{Form.FormID}}</p></div>
				</div>
				<div class="form-group">
					<label for="vin" class="col-sm-3">VIN</label>
					<div class="col-sm-9"><p>{{Form.JSON.VinNumber}}</p></div>
				</div>
				<div class="form-group">
					<label for="registration" class="col-sm-3">Registration</label>
					<div class="col-sm-9"><p>{{Form.JSON.RegNumber}}</p></div>
				</div>
				<div class="form-group">
					<label for="licence-exp-date" class="col-sm-3">License Disk Expiration Date</label>
					<div class="col-sm-9"><p>{{Form.JSON.LicenceExpiryDate}}</p></div>
				</div>
			</div>
		</div>
		<div ng-if="inspectiontype === 'supplierevaluation' && id === 'supplierevaluation_existing'">
			<h3 > Supplier Details</h3>
			<div  class="panel panel-default">
				<div class="panel-body form-horizontal">
					<div class="form-group">
						<label for="client" class="col-sm-3">Client</label>
						<div class="col-sm-9"><p> {{Client.Name}}</p></div>
					</div>
					<div class="form-group">
						<label for="address" class="col-sm-3">Address</label>
						<div class="col-sm-9"><p> </p></div>
					</div>
					<div class="form-group">
						<label for="address" class="col-sm-3">Coordinates</label>
						<div class="col-sm-9"><p> </p></div>
					</div>
					
				</div>
			</div>
		</div>
		<div ng-if="inspectiontype === 'technicalreport'">
			<h3>Service History(Latest - First)</h3>
			<div ng-if="serviceHistory.length === 0" style="margin-top: 15px" class="alert alert-warning">
        		<p><i class="fa fa-info"></i> There is no service history available for this Client</p>
    		</div>
			<div ng-if="serviceHistory" style="text-align: left;" class="panel panel-default">
				<div  class="panel-body">
					<p ng-repeat="row in serviceHistory">{{row}}</p>
				</div>
			</div>
		</div>
		<h3 ng-if="inspectiontype === 'audit'"> Inspection Details</h3>
		<h3 ng-if="inspectiontype === 'supplierevaluation'"> Supplier Evaluation Details</h3>
		<h3 ng-if="inspectiontype === 'technicalreport'"> Technical Report Details</h3>
		<h3 ng-if="inspectiontype === 'afterserviceevaluation'"> After Service Inspection Details</h3>
		<h3 ng-if="inspectiontype === 'customervisit'"> Customer Visit Details</h3>
		<div ng-if="!isPhoneGap && inspectiontype !== 'customervisit'" style="margin-top: 15px" class="alert alert-info">
        	<p><i class="fa fa-info"></i> Please attach image(s) and click upload below</p>
    	</div>
    	<div ng-if="isPhoneGap && inspectiontype !== 'customervisit'" style="margin-top: 15px" class="alert alert-info">
        	<p><i class="fa fa-info"></i> Please capture image(s) below</p>
    	</div>
		<form ng-if="inspectiontype !=='customervisit'" style="margin-top: 35px;" class="form-horizontal">
			<div ng-if="!isPhoneGap" style="margin-top:10px;" id="file-form" method="POST" role="form">
				<div class="well row">
					<div ng-if="inspectiontype === 'audit' || inspectiontype === 'afterserviceevaluation'">
						<!-- AuditForm Odometer Reading -->
						<div class="col-xs-12 col-md-12"><a  herf="#" style="color : black; text-decoration: none; cursor: pointer; font-weight: bold;">{{Uploadmessage}} For Odometer reading</a></div>
					  	<div class="col-xs-6 col-md-11">
					  		<form ng-if="!isPhoneGap"  id="file-form" method="POST" role="form" class="form-inline">
								<input id="file-select" style="margin-top: 10px;" type="file" capture="camera" accept="image/*">
							</form>
					  	</div>
				  		<div class="col-xs-6 col-md-1"><button ng-click="onPhotoClicked('odometer')" class="btn btn-success pull-right">Upload</button></div>
				  	</div>
				  		<!-- AuditForm Tyres -->
				  	<div ng-if="inspectiontype === 'audit'">
				  		<div class="col-xs-12 col-md-12"><a  herf="#" style="color : black; text-decoration: none; cursor: pointer; font-weight: bold;">{{Uploadmessage}} For Tyres</a></div>
					  	<div class="col-xs-6 col-md-11">
					  		<form ng-if="!isPhoneGap" style="margin-top: 10px;"  id="file-form" method="POST" role="form" class="form-inline">
								<input id="file-select" type="file" capture="camera" accept="image/*">
							</form>
					  	</div>
				  		<div class="col-xs-6 col-md-1"><button ng-click="onPhotoClicked('tyres')" class="btn btn-success pull-right">Upload</button></div>
					</div>
				  	<!-- Audit Form Other Photo's -->
				  	<div ng-if="inspectiontype === 'audit'" class="col-xs-12 col-md-12"><a  herf="#" style="color : black; text-decoration: none; cursor: pointer; font-weight: bold;">{{Uploadmessage}} For Other Photo's</a></div>
				  	<!-- Technical Report Reuses multiple upload -->
				  	<div ng-if="inspectiontype === 'technicalreport'" class="col-xs-12 col-md-12"><a  herf="#" style="color : black; text-decoration: none; cursor: pointer; font-weight: bold;">{{Uploadmessage}} Description of Findings</a></div>
				  	<!-- Comments -->
				  	<div ng-if="inspectiontype === 'afterserviceevaluation'" class="col-xs-12 col-md-12"><a  herf="#" style="color : black; text-decoration: none; cursor: pointer; font-weight: bold;">{{Uploadmessage}} Comments</a></div>
				  	<!-- SupplierEvaluation Evaluation field -->
				  	<div ng-if="inspectiontype === 'supplierevaluation'">
				  		<div class="col-xs-12 col-md-12"><a  herf="#" style="color : black; text-decoration: none; cursor: pointer; font-weight: bold;">{{Uploadmessage}} For Evaluation</a></div>
					  	<div class="col-xs-6 col-md-11">
					  		<form ng-if="!isPhoneGap" style="margin-top: 10px;"  id="file-form" method="POST" role="form" class="form-inline">
								<input id="file-select" type="file" capture="camera" accept="image/*">
							</form>
					  	</div>
				  		<div class="col-xs-6 col-md-1"><button ng-click="onPhotoClicked('evaluation')" class="btn btn-success pull-right">Upload</button></div>
					</div>
					<!-- Supplier Evaluation Reception -->
					<div ng-if="inspectiontype === 'supplierevaluation'">
				  		<div class="col-xs-12 col-md-12"><a  herf="#" style="color : black; text-decoration: none; cursor: pointer; font-weight: bold;">{{Uploadmessage}} For Reception</a></div>
					  	<div class="col-xs-6 col-md-11">
					  		<form ng-if="!isPhoneGap"  id="file-form" method="POST" role="form" class="form-inline">
								<input id="file-select" style="margin-top: 10px;" type="file" capture="camera" accept="image/*">
							</form>
					  	</div>
				  		<div class="col-xs-6 col-md-1"><button ng-click="onPhotoClicked('reception')" class="btn btn-success pull-right">Upload</button></div>
					</div>
					<!-- Method Replicated to cater for Supplier Evaluation with more than 1 form item that uploads multiple files -->
				  	<div ng-if="inspectiontype === 'supplierevaluation'" class="col-xs-12 col-md-12"><a  herf="#" style="color : black; text-decoration: none; cursor: pointer; font-weight: bold;">{{Uploadmessage}} For Special Tools & Training</a></div>
				  	<div ng-if="inspectiontype === 'supplierevaluation'" class="col-xs-6 col-md-11">
						<form style="margin-top: 10px;" id="upload-form" method="POST" id="file-form" role="form" class="form-inline" enctype="multipart/form-data">
							<input ng-if="!isPhoneGap" style="margin-top: 10px;" id="upload-select_2" name="file[]" type="file" multiple="multiple">
							<div style="margin-top : 5px;">
								<table>
									<tr ng-repeat="row in filenames_2">
										<td style="padding: 0; margin : 0; text-decoration: none; font-weight: 400">{{row}}</td>
										<td><button ng-click="removeImage($index, 'upload-select2')" class="btn btn-danger btn-xs" style="margin-left: 15px; margin-bottom: 5px;">remove</button></td>
									</tr>
								</table>
							</div>
						</form>
				  	</div>
				  	<!-- <div style="margin-top: 15px;" ng-if="inspectiontype !== 'supplierevaluation'" class="col-xs-6 col-md-1"><button ng-click="onPhotoClicked('other-photos')" class="btn btn-success pull-right">Upload</button></div> -->
					<!-- Cleanliness -->
				  	<div ng-if="inspectiontype === 'supplierevaluation'" class="col-xs-12 col-md-12"><a  herf="#" style="color : black; text-decoration: none; cursor: pointer; font-weight: bold;">{{Uploadmessage}} For Cleanliness</a></div>
				  	<div ng-if="inspectiontype !== 'customervisit'" class="col-xs-6 col-md-11">
						<form style="margin-top: 10px;" id="upload-form" method="POST" id="file-form" role="form" class="form-inline" enctype="multipart/form-data">
							<input ng-if="!isPhoneGap" style="margin-top: 10px;" id="upload-select" name="file[]" type="file" multiple="multiple">
							<div style="margin-top : 5px;">
								<table>
									<tr ng-repeat="file in filenames">
										<td style="padding: 0; margin : 0; text-decoration: none; font-weight: 400">{{file}}</td>
										<td><button ng-click="removeImage($index, 'upload-select')" class="btn btn-danger btn-xs" style="margin-left: 15px; margin-bottom: 5px;">remove</button></td>
									</tr>
								</table>
							</div>
						</form>
				  	</div>
				  	<div style="margin-top: 15px;" ng-if="inspectiontype !== 'customervisit'" class="col-xs-6 col-md-1"><button ng-click="onPhotoClicked('other-photos')" class="btn btn-success pull-right">Upload</button></div>
				</div>
			</div>
			<div ng-if="isPhoneGap">
				<div class="well">
					<div ng-if="inspectiontype === 'audit' || inspectiontype === 'afterserviceevaluation'" class="form-inline">
						<label style="color : black; text-decoration: none; cursor: pointer; font-weight: bold" for="kilometers">Capture Odometer Reading</label>
						<button ng-click="onPhotoClicked('odometer')" class="btn btn-success pull-right">Capture <span class="fa fa-camera"></span></button>
					</div><br>
					<div ng-if="inspectiontype === 'audit'" class="form-inline">
						<label style="color : black; text-decoration: none; cursor: pointer; font-weight: bold" for="tyres">Capture Tyres condition</label>
						<button ng-click="onPhotoClicked('tyres')" class="btn btn-success pull-right">Capture <span class="fa fa-camera"></span></button>
					</div><br>
					<div ng-if="inspectiontype === 'audit'" class="form-inline">
						<label style="color : black; text-decoration: none; cursor: pointer; font-weight: bold" for="other-photo">Capture Other Photo's</label>
						<button ng-click="onPhotoClicked('otherphotos')" class="btn btn-success pull-right">Capture <span class="fa fa-camera"></span></button>
					</div>
					<div ng-if="inspectiontype === 'technicalreport'" class="form-inline">
						<label style="color : black; text-decoration: none; cursor: pointer; font-weight: bold" for="other-photo">Capture Description of Findings</label>
						<button ng-click="onPhotoClicked('otherphotos')" class="btn btn-success pull-right">Capture <span class="fa fa-camera"></span></button>
					</div>
					<div ng-if="inspectiontype === 'afterserviceevaluation'" class="form-inline">
						<label style="color : black; text-decoration: none; cursor: pointer; font-weight: bold" for="other-photo">Capture Comments</label>
						<button ng-click="onPhotoClicked('otherphotos')" class="btn btn-success pull-right">Capture <span class="fa fa-camera"></span></button>
					</div>
				</div>
			</div>
		</form>
		<!-- JsonForm  -->
		<jsonform inline="true" formid="session.formid" fields="session.displayfields" asyncRslt="[]" json="Form.JSON" settings="session.settings"></jsonform>
		<div style="margin-top:10px;">
		<!-- Displays when other dropdown option is chosen from the menu -->
	  	<div ng-if="inspectiontype === 'customervisit' && showForm == true">
	  		<form style="margin-top: 10px;" class="form-horizontal">
	  			<div class="form-group">
					<label for="client" class="col-sm-12">Issues Discussed (Other)</label>
			        <div class="col-sm-12"><input id="issues-descript"  type="text" class="form-control"  ng-model="Form.JSON.UserField06"/></div>
				</div>
	  		</form>
	  	</div>
			<div class="alert alert-info"><i class="fa fa-info"></i> Please Sign below before saving your request</div>
			<!-- Signature box for * 4 forms except  supplierevaluation  -->
			<div class="panel panel-default" ng-if="inspectiontype !== 'supplierevaluation'">
				<div class="panel-heading">Signature  Of {{inspectorSignatureBoxLabel}}</div>
				<div class="panel-body">
					<signature ng-model="signature.inspector" cssclass="signatureField" color="#000000" bg-color="#222222"></signature>
				</div>
			</div>
			<!-- Signature box for  supplierevaluation form -->
			<div ng-if="inspectiontype === 'supplierevaluation'" class="panel panel-default">
				<div class="panel-heading">Signature Of {{techSignatureBoxLabel}}</div>
				<div class="panel-body">
					<signature ng-model="signature.techAdvisor" cssclass="signatureField" color="#000000" bg-color="#222222"></signature>
				</div>
				<div class="panel-heading"> Signature Of {{managerSignatureBoxLabel}}</div>
				<div class="panel-body">
					<signature ng-model=signature.manager cssclass="signatureField" color="#000000" bg-color="#222222"></signature>
				</div>
			</div>
		</div>
   </div>
</div>